# Build and IDE outputs
[Bb]in/
[Oo]bj/
[Dd]ist/
node_modules/
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# User-specific and temporary files
*.suo
*.user
*.userosscache
*.sln.docstates
~$*.docx
~$*.xlsx

# OS files
.DS_Store
Thumbs.db
